---
import Layout from "../layouts/Layout.astro"
---

<Layout
  title='Ismael Morejón - Desarrollador y programador de Aplicaciones Web y Videojuegos.'
  description='Ismael Morejón es un desarrollador especializado en el desarrollo de aplicaciones web y videojuegos.'
>
  <main></main>
</Layout>
